i3wm.workspace.1: 1.Work
i3wm.workspace.2: 2.Media
i3wm.workspace.3: 3.Games
i3wm.workspace.7: 7.Media/Extra
i3wm.workspace.8: 8.Admin
i3wm.workspace.9: 9.Work/Extra
i3wm.workspace.0: 0.Hidden
i3wm.workspace.x: x.Media/Sticky
