URxvt*font: xft:Source Code Pro Semibold:size=14,\
            xft:Noto Sans Mono CJK JP:size=14,\
            -*-unifont-*-*-*-*-16-*-*-*-*-*-*-*

URxvt*background: rgb:bc/ad/a9
URxvt*foreground: rgb:00/00/00

URxvt*color0: rgb:00/00/00
URxvt*color1: rgb:90/00/00
URxvt*color2: Dark Green
URxvt*color3: rgb:a0/5f/2d
URxvt*color4: Midnight Blue
URxvt*color5: rgb:ab/00/8b
URxvt*color6: rgb:00/6a/6e
URxvt*color7: rgb:c1/b3/af

URxvt*color8: rgb:57/60/6d
URxvt*color9: rgb:b0/00/00
URxvt*color10: rgb:7f/ff/4f
URxvt*color11: rgb:ff/e7/00
URxvt*color12: Royal Blue
URxvt*color13: rgb:f0/00/b0
URxvt*color14: rgb:50/ff/f5
URxvt*color15: rgb:ff/ff/ff

URxvt*skipScroll: False
URxvt*scrollstyle: next
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True

i3wm.workspace.1: 1.Work
i3wm.workspace.2: 2.Media
i3wm.workspace.3: 3.Games
i3wm.workspace.7: 7.Media/Extra
i3wm.workspace.8: 8.Admin
i3wm.workspace.9: 9.Work/Extra
i3wm.workspace.0: 0.Hidden
i3wm.workspace.x: x.Media/Sticky
